@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    color: #263138;
}

header {
    background-color: #ff9a6c;
    padding: 24px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link_cabecalho {
    color: white;
    font-weight: 600;
    padding: 32px;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px 80px;
    position: relative;
}

#imagem_inicio {
    width: 580px;
    height: 580px;
}

h1,
h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

p {
    line-height: 150%;
    margin-bottom: 32px;
}

#links_container {
    display: flex;
    gap: 20px;
}

.botao {
    background-color: #ff725e;
    padding: 16px 32px;
    border-radius: 8px;
    color: white;
}

.botao_transparente {
    background-color: transparent;
    color: #ff725e;
    padding: 16px 32px;
    border: 1px solid #ff725e;
    border-radius: 8px;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

#clinica {
    display: flex;
    align-items: center;
    padding: 64px 80px;
    gap: 64px;
}

#imagem_clinica {
    width: 480px;
    height: 480px;
}

#clinica li {
    margin-left: 32px;
    margin-bottom: 16px;
}

#farmacia {
    padding: 64px 80px;
    text-align: center;
}

#imagem_farmacia {
    width: 645px;
    height: 430px;
    margin: 64px auto;
}

#farmacia p {
    max-width: 950px;
    margin: 0 auto;
}

#duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#imagem_duvidas {
    width: 540px;
    height: 540px;
}

.duvida {
    position: relative;
}

.duvida h3 {
    border: 2px solid #ff725e;
    border-radius: 8px;
    cursor: pointer;
    padding: 15px;
    
}

.duvida img {
    position: absolute;
    top: 25px;
    right: 12px;
}

.duvida p {
    border-left: 1px solid #ff725e;
    border-bottom:  1px solid #ff725e;
    border-right:  1px solid #ff725e;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 20px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .3s;
}

.duvida.ativa p {
    height: fit-content;
    opacity: 1;
    padding: 20px;
}

footer {
    background-color: rgba(255, 152, 108, 0.25);
    display: flex;
    gap: 80px;
    padding: 64px 80px;
}

.logo_petlife {
    width: 50%;
}

footer img,
footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

footer nav a {
    color: #263138;
    display: block;
    margin-bottom: 16px;
}

footer p {
    margin-bottom: 10px;
}

footer p a {
    background-color: #ff725e;
    padding: 4px 8px;
    border-radius: 8px;
    color: white;
    font-weight: bold;

}

#copyright {
    background-color: #263138;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    #inicio {
        display: block;
    }

    #clinica {
        flex-direction: column;
    }

    #duvidas {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        gap: 20px;
    }

    .link_cabecalho {
        padding: 15px;
    }
    
    #imagem_inicio,
    #imagem_clinica,
    #imagem_farmacia,
    #imagem_duvidas {
        max-width: 100%;
        max-height: 55vh;
        margin: 0px;
    }

    footer {
        display: block;
    }

    .footer_itens {
        margin: 0 0 30px 0;
    }
}